<h1>Edición de Programa</h1>

<%= render 'form' %>

<%= link_to 'Ver', @program, :class => "btn btn-lg btn-primary cemex-blue btn-otros btn-block" %>
<%= link_to 'Regresar', programs_path, :class => "btn btn-lg btn-primary cemex-blue btn-otros btn-block" %>
