<p id="notice"><%= notice %></p>

<h2>Información de Programa</h2>

<h3>
  <strong>Nombre:</strong>
  <%= @program.name %>
</h3>


<%= link_to 'Editar', edit_program_path(@program), :class => "btn btn-lg btn-primary cemex-blue btn-otros btn-block" %>

<%= link_to 'Regresar', programs_path, :class => "btn btn-lg btn-primary cemex-blue btn-otros btn-block" %>
