<p id="notice"><%= notice %></p>

<h2>Reporte de Avances</h2>

<div class="table-responsive">
<table class="table" style="width: 100%;">
  <thead>
    <tr>
      <th>Imagen</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <td><img src= <%= post.image.url %>> </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'Regresar', admin_root_path, :class => "btn btn-lg btn-primary cemex-blue btn-otros btn-block" %>