<h1>¡Bienvenido Usuario!</h1>

<p><font size="3"><b>Programa Actual:</b><%= @program.name %> </font></p>

<p><font size="3"><b>Proyecto Actual:</b><%= @project.name %></font></p>

<%= link_to 'Subir Foto', user_post_path, :class => "btn btn-lg btn-primary cemex-blue btn-otros btn-block" %>

<button type="button" class="btn btn-lg btn-primary cemex-blue btn-otros btn-block">Avanzar Paso</button>