<h1>Editar Paso</h1>

<center>
<%= render 'form' %>

<%= link_to 'Ver Info', @step, :class => "btn btn-lg btn-primary cemex-blue btn-otros btn-block" %>
<%= link_to 'Regresar', steps_path, :class => "btn btn-lg btn-primary cemex-blue btn-otros btn-block" %>
</center>