/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
colores de cemex
 */
 .cemex-blue{
  background-color: #023185;
}
.cemex-red{
  background-color: #E3303D;
}

.cemex-white{
  background-color: #FFFFFF;
  color: #000;
}
.techo
{
  margin-top: 20px;
}
/*
logo
*/
.logo{
  margin-top: -10px;
  width: 100%;
  max-width: 300px;
  width: 300px !important;
}

.logbox{
    float: none;
    margin: 0 auto;
    background-color: gray; 
}
body {
  
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  width: 330px;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
   position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  font-size: 16px;
}

.centrado
{
  text-align: center;
  
}
.field
{
  margin: 0 auto;
}

/*
ligas
*/
.links
{
  font-size:16px;

}
.btn-entrada{
  margin-bottom: 20px;
  max-width: 330px;


}
.btn-otros{

max-width: 330px;
color: white !important;
}

.btn-tablas{
  max-width: 100px;
  color: white !important;
}
.cuadro input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 300px !important;
    height: 40px !important;
    font-size: 18px !important;
}
/*
Responsive
*/

/* CSS TABLA */
.titulo
{

    font-weight: bold;
}
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 768 */
@media all and (min-width: 768px) and (max-width: 979px) {
    td.col_2{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    } 


.form-signin {
  width: 330px;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
   position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  font-size: 16px;
}
.btn-entrada{
  width: 330px !important;
  max-width: 330px;


}
.btn-otros{
width: 330px !important;
max-width: 330px;
}
}
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 600px */
@media all and (min-width: 600px) and (max-width: 767px) {
    td.col_2{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    } 


.form-signin {
  width: 330px;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
   position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  font-size: 16px;
}
.btn-entrada{
  width: 330px !important;
  max-width: 330px;


}
.btn-otros{
width: 330px !important;
max-width: 330px;
}
}
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */
@media all and (min-width: 480px) and (max-width: 599px) {
    td.col_4{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    } 


.form-signin {
  width: 300px;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
   position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  font-size: 16px;

}
.btn-entrada{
  width: 300px !important;
  max-width: 330px;


}
.btn-otros{
width: 300px !important;
max-width: 330px;
}
}
/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media all and (max-width: 479px) {
    td.col_4{
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    }    
     .titulo{

        font-size:10px;
        text-align: center;
    }

      .form-signin {
  max-width: 300px;
  padding: 15px;
  margin: 0 auto;
   position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  font-size: 16px;
}



.btn-entrada{
  width: 300px !important;
  max-width: 330px;


}
.btn-otros{
width: 300px !important;
max-width: 330px;
}
}