/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
colores de cemex
 */
 .cemex-blue{
  background-color: #023185;
}
.cemex-red{
  background-color: #E3303D;
}

.cemex-white{
  background-color: #FFFFFF;
  color: #000;
}

/*
logo
*/
.logo{
  margin-top: -10px;
  width: 70%;
  max-width: 300px;
}

.logbox{
    float: none;
    margin: 0 auto;
    background-color: gray; 
}
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  width: 330px;
  padding: 15px;
  margin: 0 auto;
   position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  font-size: 16px;
}

.centrado
{
  text-align: center;
  
}
.field
{
  margin: 0 auto;
}

/*
ligas
*/
.links
{
  font-size:16px;

}
.btn-entrada{
  margin-bottom: 20px;
  max-width: 330px;


}
.btn-otros{

max-width: 330px;
color: white !important;
}

/*
Responsive
*/

@media all and (max-width: 479px) {
    .form-signin {
  max-width: 300px;
  padding: 15px;
  margin: 0 auto;
   position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  font-size: 16px;
}


.btn-entrada{
  max-width: 330px;


}
.btn-otros{

max-width: 330px;
}
}