<h2>Sign up</h2>
    
 <div class="container">

      <form class="form-signin">

        <h2 class="form-signin-heading">Registrarse</h2>

        <label for="inputEmail" class="sr-only">Usuario</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Usuario" required autofocus>
        
        <label for="inputPassword" class="sr-only">Contrase単a</label>
        <input type="password" id="inputPassword" class="form-control password-middle" placeholder="Contrase単a" required>
        
        <label for="inputPasswordConfirm" class="sr-only">Contrase単a</label>
        <input type="password" id="inputPasswordConfirm" class="form-control confirm-password" placeholder="Confirmar Contrase単a" required>
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Registrar</button>

      </form>

    </div> <!-- /container -->